* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    background-color: #1f2937;
    /*padding: 50px;*/
    /*text-align: center;*/
}
.navbar {
    display: flex;
    padding: 0.5rem 2rem;
    
}
.logo {
    height: 80px;
    width: auto;
   /* border-radius: 10px;*/
    margin-left: 50px;
}
.nav-links {
    display: flex;
    margin-left: 50rem;
    align-items: center;
}
.navbar a {
    color: #e5e7eb;
    text-decoration: none;
    margin-left: 20px;
    padding: 1px 60px;
    font-size: 18px;
}
.navbar a:hover {
    color: #3b82f6;

}
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 250px;
}
.hero-content h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    /* margin-left: 100px;
    margin-top: 50px; */
}
.hero-content p  {
    color: #e5e7eb;
    font-size: 18px;
    /* margin-top: 5px;
    margin-left: 100px; */
}
.button {
    background-color: #3882F6;
    color: #f9faf8;
    border: none;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    /* margin-left: 100px; */
    margin-bottom: 50px;
}
.carousel {
  height: 400px;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  /* margin-left: 650px; */
  position: relative;
  overflow: hidden;
}
.carousel img {
  width: 100%;
  height: 100%;
  
  
  
  
  
}
